<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <title>Cadastro de Usuário</title>
</head>
<body>
    <h1>Cadastro de Usuário</h1>
    <form action="/register" method="POST">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="name" required>
        <br><br>
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="passw" required>
        <br><br>
        <label for="telefone">Telefone:</label>
        <input type="varchar" id="telefone" name="telephone" required>
        <label for="register"></label>
        <input type="submit" value="Cadastrar">
        <p>{{ message1 }}</p>
    </form>

  <h1>Verificação de Usuário</h1>
<form action="/verify" method="POST">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="name" required>
    <br><br>
    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="passw" required>
    <br><br>
    <input type="submit" value="Verificar">
    <p>{{ message2 }}</p>
</form>
<form action="/verify_sms" method="post">
        <button type="submit">Validar Telefone</button>
    </form>

</body>
</html>