<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <title>Secure Login</title>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth.js"></script>

</head>
<body style='text-align: center'>
    <h1>User register</h1>
    <form action="/register" method="POST">
        <label for="nome">Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <label for="passw">Password:</label>
        <input type="password" id="passw" name="passw" required>
        <br><br>
        <label for="phone_number">Phone:</label>
        <input type="varchar" id="phone_number" name="phone_number" required>
        <br><br>
        <label for="register"></label>
        <input type="submit" value="Register">
        <p>{{ message1 }}</p>
    </form>

  <h1>User verification</h1>
<form action="/verify" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    <label for="passw">senha:</label>
    <input type="password" id="passw" name="passw" required>
    <br><br>
    <input type="submit" value="Send">
    <p>{{ message2 }}</p>
</form>

    <h1>Two Factor Authentication </h1>
    <form action="/twofactor" method="POST">
        <label for="number_phone">Phone:</label>
        <input type="text" id="number_phone" name="number_phone" required>
        <br><br>
        <input type="submit" value="Send Code">
        <p>{{ message2 }}</p>
        <label for="otp_code">OTP code:</label>
        <br>
        <input type="text" id="otp_code" name="otp_code" required>
        <br><br>
        <input type="submit" value="Verify Code">
        <p>{{ message2 }}</p>
    </form>

</body>
</html>