<!DOCTYPE html>
<html>
<head>
    <title>Autenticacao</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>Bem-vindo(a) ao meu aplicativo</h1>
    <div>
        <label for="phone">Digite o número de telefone:</label>
        <input type="text" id="phone">
        <button onclick="sendVerificationCode()">Enviar Código de Verificação</button>
    </div>

    <div id="recaptcha-container"></div>

    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.2/firebase-auth.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyD4--MtRDEGmUG7AQ49rxFOwgCxsr6Ynuk",
            authDomain: "loginseguroapp.firebaseapp.com",
            projectId: "loginseguroapp",
            storageBucket: "loginseguroapp.appspot.com",
            messagingSenderId: "81830850783",
            appId: "1:81830850783:web:b9b256127f2e9beea0796a",
        };

        function sendVerificationCode() {
            var phoneNumber = document.getElementById('phone').value;
            var appVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');


            if ('userAgentData' in navigator) {
                var uaData = navigator.userAgentData;

                if (uaData.brands.some(brand => brand.brand === 'Chrome' && brand.version >= 101)) {

                    firebase.initializeApp(firebaseConfig);
                } else {

                    console.log('Navegador não suportado');
                    return;
                }
            } else {
                console.log('Navegador não suportado');
                return;
            }

            firebase.auth().signInWithPhoneNumber(phoneNumber, appVerifier)
                .then(function (confirmationResult) {

                    var verificationId = confirmationResult.verificationId;
                    var xhr = new XMLHttpRequest();
                    xhr.open('POST', '/verify_phone_number');
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.onload = function () {
                        if (xhr.status === 200) {
                            // Sucesso
                            console.log(xhr.responseText);
                        } else {
                            // Erro
                            console.log(xhr.responseText);
                        }
                    };
                    xhr.send(JSON.stringify({ verificationId: verificationId }));
                })
                .catch(function (error) {
                    // Tratar erros ao enviar o código de verificação
                    console.log(error);
                });
        }
    </script>

    <h1>Verificar Código</h1>

    <p>Insira o código de verificação enviado para o seu telefone:</p>

    <input type="text" id="verification-code" placeholder="Código de Verificação">
    <button onclick="verificarCodigo()">Verificar</button>

</body>
</html>
